# Dependency directories
node_modules/
fablo/node_modules/
frontend/node_modules/
backend/node_modules/

# Build & cache
build/
*.tar
*.zip
*.log
*.deb
.cache/
*.pack

# Sensitive files
.env
wallets-backup/
fablo-target/
